@forward 'globals';
@forward 'layout';


/* Basic styling for navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: hsl(0, 0%, 13%);
}

.logo {
    color: antiquewhite;
    margin-top: revert;
  }

.navbar-links {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    flex-grow: 0;
}

li a {
    color: antiquewhite;
    padding: 0.5rem;
    text-decoration: none;
  }

.login {
    color: antiquewhite;
    // padding: 0.5rem;
    cursor: pointer;
}


.toggle-button {
    display: none;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}


/* Responsive adjustments */
@media (max-width: 720px) {
    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .toggle-button {
        display: block;
    }

    .login {
        display: block;
        text-align: center;
    }
}


.navbar-links.active, .login.active {
    display: flex;
    flex-direction: column;
}
